<div>
  <nav>
  </nav>
  <main>
    <div>
      <div phx-click="lv:clear-flash" phx-value-key="info">
        <%= live_flash(@flash, :info) %>
      </div>
      <div phx-click="lv:clear-flash" phx-value-key="error">
        <%= live_flash(@flash, :error) %>
      </div>
    </div>
    <%= @inner_content %>
  </main>
</div>
